html{
    max-width: 100%;
    height: 100%;
    
}


header{
    background-color: burlywood;
    text-align: left;
    color: white;
    margin: fill;
    padding-bottom: 5px;
    
}

body{
    
    max-width: 100%;
    text-align: center;
    margin-bottom: 100px;
    
}

#projectheader{
    color: white;
    background-color: blue;
    text-align: center;
    height: 50px;
    font-size: xx-large;
}

#contentcenter{
    margin-top: 10%;
    align-content: center;
}

#projectbottom{
    background-color: forestgreen;
    margin-top: 10%;
}

header>em>a{
    text-decoration: none;
    color: whitesmoke;
}

nav{
   
    border-top-style: ridge;
    background-color: turquoise;
    padding-top: 0;
}



.me {
    border: 10px solid rgb(138, 57, 57);
    height: 50%;
    width: 300px;
  }

.bar>a{
    text-decoration: none;
    color: red;
    background-color: turquoise;
    
}

#back{
    background-color: yellow;
    padding: fill;
    background: linear-gradient(pink 50%, rgb(10, 56, 56) 50%);
}

.rose1{
    width: 500px;
    float: left;
    margin:0;
    image-orientation: flip;
   
    
}

.rose2{
    width:500px;
    float: right;
    margin:0;
    image-orientation: flip;
    transform: rotateY(180deg);
    
}
    

h1{
    font-family: 'Arima Madurai', cursive;
    color: indigo;
    font-weight: lighter;
    font-size: xx-large;
    text-align: center;
}

h2{
    color: black;
    font-weight: bold;
    font-size: 30px;
}
h3{
    color: whitesmoke;
    margin-bottom: 100px;
    font: lighter;
    font-family: 'Arima Madurai', cursive;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    
}

footer{
    color: turquoise;
    text-align: center;
    padding-top: 50px;
    background-color: beige;
    
}

.sooty{
    width:200px;
    max-width: 50%;
    height: auto;
    float: center;
}

footer a{
    text-decoration: none;
    color: indigo;
    font-family:'Arima Madurai', cursive;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

#aboutme{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    margin: 50%;
    text-align: center;
    box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px #f0f,   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px #f0f,  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
    margin-bottom: 10px;
    margin-top: 10px;
}

p{
    font-size: xx-large;
}

.earth{
    background-color: green;
   
}

#resume{
    
    

border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.bottom{
    position: bottom;
    bottom:0;
    display: inline-block;
    padding-top: 50px;
    
}

#verybottom{
    margin-top: 50px;
    background-color: darkolivegreen;
}

iframe{
    text-align: center;
    
}
